*, button
{
    background-color: #1d4b80;
    color: #fcf2f2;
}

entry
{
    border-radius: 2%;
    background-color: #fcf2f2;
    color: #4c300d;
    border-color: #fcf2f2;
}

entry:hover
{
    background-color: #add8e6;
}

button:hover
{
    border-radius: 5%;
    border-color: #a8ffff;
}

label
{
    background: #777777;
}