*, button
{
    background-color: #1d9d90;
    color: #3a3a3b;
}

entry
{
    border-radius: 2%;
    background-color: #e2a93e;
    color: #1a1358;
    border-color: #fcf2f2;
}

entry:hover
{
    background-color: #add8e6;
}

button
{
    border-radius: 20%;
}

button:hover
{
    border-radius: 10%;
    border-color: #a8ffff;
}

label
{
    background: #777777;
}