*, button
{
    background-color: #9c9695;
    color: #fff2f2;
}

entry
{
    border-radius: 2%;
    background-color: #fefef5;
    color: #6b6088;
    border-color: #000000;
}

entry:hover
{
    background-color: #6b6088;
    color: #fefef5;
}

button
{
    border-radius: 20%;
}

button:hover
{
    border-radius: 10%;
    border-color: #6b6088;
}

label
{
    background: #fff2f2;
    color: #6b6088;
}