*, button
{
    background: #ffffff;
    color: #0029aa;
    border-radius: 1.6em;
    font-size: 1.1em;
    padding: 0.4em;
    margin: 1em;
}

input
{
    background: #75aadb;
    color: #843511;
}

.selector
{
    border: 1px solid #823210;
    background: #03d3fc;
}

input:focus, button:hover, button:hover > *
{
    background: #823210;
    color: #03d3fc;
}

label
{
    background: #03d3fc;
    color: #823210;
}